html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display";
  margin: 12em;
}

h1 {
  font-size: 3.2rem;
  font-weight: normal;
  margin-bottom: 6.8rem;
}

h1 span {
  color: #07801e;
}

.container {
  display: flex;
  gap: 2em;
  height: 400px;
  width: 100%;
  border: 1px solid red;
  align-items: center;
}

img {
  height: 200px;
  width: 100%;
  /* width: 250px; */
  object-fit: cover;
  border-radius: 1em;
}

.second {
  align-self: flex-start;
}
